.row
	.col-sm-6
		%h2 Drafts
		%table.table.table-bordered.table-striped
			%thead
				%tr
					%th Date
					%th Title
			%tbody
				- @posts.select{|post| post.published? == false}.reverse.each do |post|
					%tr
						%td= post.date.strftime("%d/%m/%Y")
						%td
							%a{href: "/edit/drafts/#{post.name}"}= post.title

	.col-sm-6
		%h2 Published

		%table.table.table-bordered.table-striped
			%thead
				%tr
					%th Date
					%th Title
			%tbody
				- @posts.select{|post| post.published? == true}.reverse.each do |post|
					%tr
						%td= post.date.strftime("%d/%m/%Y")
						%td
							%a{href: "/edit/posts/#{post.name}"}= post.title